/* part 3
Para deixar de importar a ordem
Agora
Toda a classe vai começar com o nome do compotemte
*/
.container {
  height: 20px;
  background: tomato;
}

.title {
  color: blue;
}

/*aqui a classe começando com o nome do componente*/

/* ########## opção 1
.App h1{

}*/

/*ou*/

/*  ########## opção 2
.AppTitulo{
}*/
